.card {
    width: 200px;
    height: 280px;
    border-radius: 25px;
    border: rgb(3, 59, 25) solid 2px;
}

span>div {
    display: inline-block;
}

span {
    display: inline-flex;
    flex-direction: column
}

body {
    color: rgb(255, 221, 0);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/CairoEgMuseumTaaMaskMostlyPhotographed.jpg/258px-CairoEgMuseumTaaMaskMostlyPhotographed.jpg);
    background-size: cover;
}