body {
    background-color: rgba(219, 162, 38, 0.904);
    background-image: url("https://sm.mashable.com/t/mashable_in/feature/3/368-episod/368-episodes-later-kakashis-face-revealed-in-naruto-shippude_vrrk.960.jpg")
}

img {
    height: 432px;
    width: 432px;
    opacity: 80%;
    margin: auto;
}

iframe {
    width: 432px;
}

.jk {
    display: flex;
    justify-content: center;
}